#employee-table th{
  display: inline-block;
  width: 16.575%;
}

.jumbotron{
    color: white;
    border-radius: 0;
    padding: 200px;
    background-image: url("../images/baytransit.png");
    background-size: cover;
}
.card-header{
    background-color:#447982;
    color: #fff;
}

h3{
    color: #EF8354;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
   
}

#current-time{
 color:#EF8354;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

