#employee-table th{
  display: inline-block;
  width: 16.575%;
}

.jumbotron{
    background-color: #2D3142;
    color: white;
}
.card-header{
    background-color:#2D3142;
    color: #BFC0C0;
}

h3{
    color: #EF8354;
}


